<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">"If you have an aggressive chewer, you know that finding the right toys can be a challenge. It seems like as soon as you buy a new toy, it ends up in the dog toy graveyard.

    So how do you avoid a dog toy graveyard? The key is to find toys that are durable and designed for <a href="https://teddys.nz/collections/durable-dog-toys">aggressive chewers</a>. These toys are generally  made of tougher materials like rubber or nylon. And they often have a reinforced design that can stand up to some serious chewing. If you want to go for a soft toy, try get one without stuffing, strong fabric, and double stitching at all of the seams.</p>
</div>
</div>
