<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">text: "There is some debate over whether or not dental chews are effective in cleaning a dog's teeth. In general it is best not to just rely  on dental chews to clean your dog's teeth. It is still important to brush your dog's teeth regularly, in order to ensure optimum dental health. However, if used in conjunction with regular brushing, <a href="https://teddys.nz/collections/dental-chews">dental chews</a> can be a helpful way to keep your dog's teeth clean and healthy."</p>
  </div>
</div>
